body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

main {
    width: auto;
}

  span {
      color:red;
  }

  footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      text-align: center;
      font-size: 0.8rem;
  }

  .social-media-icon {
    font-size: 1.2rem;
  }

  a:hover {
    text-decoration: none;
  }
  
  .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroimage.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }

  .phone {
    top: 10px;
    left: 10px;
    position: absolute;
    display: block;
    color: white;

}

title-container {
    position: absolute;
}

.hero-title {
    display: block;
    font-size: 10rem;
    align-self: flex-end;
    margin: 0;
    padding-top: 0;
}

.hero-subtitle {
    display: block;
    font-size: 3.5rem;
    padding-top: 0;
    margin:0;
}

.hero-text {
    text-align: center;
    color: white;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
}
@media screen and (max-width: 768px) {
    .hero-text {
        font-size: .8rem;
    }

    .hero-title {
        font-size: 2rem;
    }
    .hero-subtitle {
        font-size: .8rem;
    }
    
}
